<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Scrooge McDuck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</head>
<body>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
        <div class="uk-margin-left uk-text-success">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
</section>

</body>
</html>
